@font-face {
  font-family: "WDXL Lubrifont TC";
  src: url("fonts/WDXLLubrifontTC-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url("fonts/Caveat-VariableFont_wght.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
}

.hide {
  display: none !important;
}

body {
  display: flex;
  align-items: start;
  justify-content: center;

  min-height: 100svh;
  padding-top: 15px;
  background: #78c1f3;
}

button {
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
  transition: transform 0.5s;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: translateY(2px);
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  width: 550px;
  padding: 25px 25px 15px;
  background: #ffffff;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.subtitle {
  margin-bottom: 25px;
}

/* ---------------------- Список задач ---------------------- */

.tasks-wrapper {
  margin-bottom: 25px;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks-list:has(.task--edit) {
  pointer-events: none;
}

.tasks-list__item {
  display: flex;
  align-items: center;

  background-color: #edeef0;

  border-radius: 5px;
}

.empty-list {
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  padding: 20px 0;
}

.empty-list::before {
  content: "";
  width: 70px;
  height: 70px;

  background-image: url("images/leaf.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.task {
  justify-content: space-between;
  gap: 5px;

  padding: 10px;

  outline-style: solid;
  outline-width: 1px;
  outline-color: #fff;

  cursor: pointer;
  transition: background-color 0.5s, outline-color 0.5s;
}

.task--done {
  text-decoration: line-through;
  text-decoration-color: #000;
  background-color: aquamarine;
}

.task--edit {
  background-color: rgb(255, 238, 127);
}

.task:hover {
  background-color: #ffffff;
  outline-color: #000;
}

.task:active {
  background-color: #d4d5d7;
  outline-color: #fff;
}

.task--done:hover {
  background-color: rgba(207, 247, 234, 0.995);
}

.task--done:active {
  background-color: rgba(148, 181, 170, 0.995);
}

.task__title {
  font-family: "Caveat", "WDXL Lubrifont TC", sans-serif;
  font-size: 20px;
  color: #4a4a4a;

  pointer-events: none;
}

.tasks-list__btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tasks-list:has(.task--edit) .tasks-list__btn {
  display: none;
}

.task--done .tasks-list__btns button:first-child {
  display: none;
}

.tasks-list__btn img {
  width: 40px;
  height: 40px;

  pointer-events: none;
}

/* ---------------------- Форма ---------------------- */
.form {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding-left: 15px;
  margin-bottom: 25px;

  background: #edeef0;
  border-radius: 30px;
}

.form:has(input:focus),
.form:has(input:not(:placeholder-shown)) {
  border: 2px solid #000;
  background-color: #fff;
}

input {
  width: calc(100% - 70px);
  padding: 15px 0;

  font-size: 20px;

  border: none;
  outline: none;
  background: transparent;
}

label {
  position: absolute;
  left: 15px;
  bottom: 18px;

  font-size: 20px;
  color: rgb(116, 116, 116);

  transition: all 0.2s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translate(20px, -28px);

  padding: 0 3px;

  color: #000;

  background-color: #fff;
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  font-size: 40px;
  color: white;

  background-color: #4caf50;
  border-radius: 50%;
}

input:focus ~ .form__btn,
input:not(:placeholder-shown) ~ .form__btn {
  margin: -2px -3px;
}

/* ---------------------- Медиа запросы ---------------------- */

@media (max-width: 550px) {
  .container {
    width: 95vw;
  }

  .title {
    font-size: 25px;
  }

  .subtitle {
    font-size: 20px;
  }

  .empty-list {
    font-size: 16px;
  }

  .task {
    font-size: 18px;
  }

  .tasks-list__btn img {
    width: 30px;
    height: 30px;
  }

  input {
    font-size: 16px;
  }
}
